<div class=contents>
<h1>編集</h1>
<div class=contents>
<%= form_tag("/posts/#{@post.id}/update")do %>
  <p>タイトル</p>
  <input name="title" value="<%=@post.title%>">
  <p>スケジュールメモ</p>
  <textarea name="memo"><%=@post.memo %></textarea>
  <input type="submit" value="保存">
  <%  end %>
  <%=@post.a>
</div>