
<div class="contents">
  <div class="title">
    <h1>Home#top</h1>
<p>新規追加</p>
<%= link_to("新規追加","/posts/new")%>
  </div>
  
  <div class="main">
    <table>
      <tr>
        <td>ID</td>
        <td>タイトル</td>
        <td>開始日</td>
        <td>終了日</td>
        <td>終日</td>
        <td>更新日時</td>
        <td colspan ="3"></td>
      </tr>
      <% @posts.each do |post| %>
       <tr>
        <td><%=post.id %></td>
        <td><%=post.title %></td>
        <td><%=post.memo %></td>
        <td>2022/3/14日</td>
        <td>o</td>
        <td>2022/3/15</td>
        <td>詳細</td>
        <td>編集</td>
        <td>削除</td>
      </tr>
      <%end%>
      
    </table>
  </div>
  <div class="count">


  </div>

</div>
