<div class="new">
<h3>予定の新規追加</h3>
<%= form_tag("/posts/create")do %>
  <div class="title">タイトル </div>
  <input class="form" type="text" name="title" >
  <div class="title">開始日 
  <input type="date" name="begin" >
  </div>
  <div class="title">終了日
  <input type="date" name="last" >
  </div>
  <p>
  <input type="checkbox" name="alltime" value ="○" >
  終日の場合はチェックを入れてください
  <div class="title">スケジュールメモ</div>
  <textarea name="memo" class="form"></textarea>
  <input type="submit" value="保存">
  <%  end %>
</div>