<div class=contents>
<h1>予定の新規追加</h1>
<div class=contents>
<%= form_tag("/posts/create")do %>
  <p>タイトル</p>
  <input name="title" >
  <input type="date" name="begin" >
  <input type="date" name="last" >
  <p>スケジュールメモ</p>
  <textarea name="memo"></textarea>
  <input type="submit" value="保存">
  <%  end %>
  <%=@post.a>
</div>