body{margin:0;}
.flash{color:red; }
a {text-decoration:none;}
.title{padding:10px;
       font-weight:bold;
}
header {
  height: 64px;
  width: 100%;
  background-color: #022561;
}
header p{font-size:20px;
         color:white;
         font-weight: bold;
         text-align:center;
         line-height: 64px;
         margin:0;
}
table{width:100%;}
.contents{margin:0 auto;
  width:800px;
}
.new{margin:0 auto;
  width:500px;
}
td {
  border-style: solid;
  border-width: 1px;
}
.count{float:left;}
.date_today{float:right;}

.form{width:100%;}
textarea{height: 150px;}
