body{margin:0;}
.flash{color:red; }
header {
  height: 64px;
  width: 100%;
  background-color: #022561;

}
header p{font-size:20px;
         color:white;
         font-weight: bold;
         text-align:center;
         line-height: 64px;
         margin:0;
}
.contents{width:800px;
          margin:0 auto;
}
td{border-style:solid;
   border-width: 1px;
}
